<style>
@font-face {
  font-display: swap;
  font-family: 'Libre Baskerville';
  font-style: normal;
  src: url('/font/libre-baskerville-v16-latin-regular.woff2') format('woff2'); 
}

footer, header {
  font-family: var(--main-font);
}

#name {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-size: 1.8em;
  line-height: 1;
  font-weight: 800;
}

#bio  {
  font-family: 'Libre Baskerville', Georgia, serif;
  line-height: 0.2
}

.post, .blog, .prose, .section-title {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-size: 1em;
  font-weight: 400;
}

.section-title {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-size: 1.3em;
  font-weight: 400;
}

</style>
