[package]
name = "feed-builder"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.54", features = ["derive"] }
env_logger = "0.11.8"
log = "0.4.29"
rss = "2.0.12"
simple_logger = "5.1.0"
